@model VolkDiet.Models.SetupModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Setup</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VolkDiet.styles.css" asp-append-version="true" />


</head>

<body>


 <form asp-action="IndexSetup" asp-controller="Setup" id="frmInstall" method="post">
                    <input asp-for="server" class="form-control" />
                    <input asp-for="database" class="form-control" value="_nop" />
                    <input asp-for="user" class="form-control" value="alan" />
                    <input asp-for="password" class="form-control" value="x" />


     <select asp-for="provider" asp-items="Model.Providers" class="form-control"></select>

     <button type="submit" class="btn btn-warning">Install</button>

 </form>
 </body>
 </html>